<settings>
	<servers>

		<!-- Nexus Admin --> 
		<server>
			<id>nexus-snapshots</id>
			<username>${NEXUS_USER}</username>
			<password>${NEXUS_PASSWORD}</password>
		</server>
		<server>
			<id>nexus-releases</id>
			<username>${NEXUS_USER}</username>
			<password>${NEXUS_PASSWORD}</password>
		</server>
	
	</servers>
	
	<pluginGroups>
	
		<pluginGroup>videa.services</pluginGroup>
		<pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
		
	</pluginGroups>


	<profiles>
	
		
		<!-- Nexus Artifactory Deployment -->
		<profile>
			<id>nexus</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
			<properties>
				<deployAtEnd>true</deployAtEnd>
				<altDeploymentRepository>nexus-snapshots::default::http://${NEXUS_HOST}/repository/maven-snapshots</altDeploymentRepository>
				<altSnapshotDeploymentRepository>nexus-snapshots::default::http://${NEXUS_HOST}/repository/maven-snapshots</altSnapshotDeploymentRepository>
				<altReleaseDeploymentRepository>nexus-releases::default::http://${NEXUS_HOST}/repository/maven-releases</altReleaseDeploymentRepository>
			</properties>
		</profile>
 
		<!-- Nexus Artifactory Dependencies --> 
		<profile>
			<id>central</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
			<repositories>
				<repository>
					<id>snapshots</id>
					<url>http://${NEXUS_HOST}/repository/maven-snapshots</url>
				</repository>
			</repositories>
		</profile>
		
		<!-- SonarQube Server -->
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>http://localhost:9000</sonar.host.url>
            </properties>
        </profile>
		
	</profiles>
	
	<activeProfiles>
      <activeProfile>nexus</activeProfile>
    </activeProfiles>

</settings>